{% extends "padre.html" %}

{% load static %}

{% block contenido_hero %} 
<div class="masthead-subheading">Sistema</div>
<div class="masthead-heading text-uppercase">Remates</div>
<div class="masthead-subheading">Modificá o cargá el remate</div>

{% endblock %}

{% block listado %}
<br>
    <form action="{% url 'carga_remates' %}" method="POST"> {% csrf_token %}
    
        <table>

            {{ formulario.as_p }}
            
        </table>
        <input type="submit" value="Guardar remate">

    </form>
<br>
<h3>{{ mensaje }}</h3>
<a class="btn btn-warning btn-xl text-uppercase" href="{% url 'remates' %}">Volver a Remates</a>
{% endblock %}