{% extends "padre.html" %}

{% load static %}

{% block contenido_hero %} 
<div class="masthead-subheading">Sistema</div>
<div class="masthead-heading text-uppercase">Clientes</div>
<div class="masthead-subheading">Modificá o cargá alguno de los listados</div>
<a class="btn btn-success btn-xl text-uppercase" href="{% url 'remates' %}">Remates</a>
<a class="btn btn-info btn-xl text-uppercase" href="{% url 'licitaciones' %}">Licitaciones</a>
<a class="btn btn-warning btn-xl text-uppercase" href="{% url 'martilleros' %}">Martilleros</a>
<a class="btn btn-secondary btn-xl text-uppercase" href="{% url 'operadores' %}">Operadores</a>
{% endblock %}

{% block listado %} 

<h2>Listado de clientes</h2>
<br>
<ul>
    {% for cliente in listado_clientes %}
        <li>{{ cliente.nombre }} {{ cliente.apellido }} - {{ cliente.numero_de_cliente }} - {{ cliente.email }}</li>
    {% endfor %}
</ul>
<br>
<br>
<a class="btn btn-warning btn-xl text-uppercase" href="{% url 'carga_clientes' %}">Cargar cliente</a>
{% endblock %}