{% extends "padre.html" %}

{% load static %}

{% block contenido_hero %} 
<div class="masthead-subheading">Bienvenid@</div>
<div class="masthead-heading text-uppercase">Remates y licitaciones</div>
<div class="masthead-subheading">Elegí el listado que prefieras</div>
<a class="btn btn-success btn-xl text-uppercase" href="#services">Remates</a>
<a class="btn btn-info btn-xl text-uppercase" href="#services">Licitaciones</a>
<a class="btn btn-warning btn-xl text-uppercase" href="#services">Martilleros</a>
{% endblock %}